.hero {
  background-color:rgb(240, 180, 217);
  padding: 80px 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.bg-gray {
  background-color: rgb(212, 12, 169);
}

.bg-rose {
  background-color: rgb(224, 184, 247);
}

.bg-purple {
  background-color: rgb(167, 109, 185);
}

.bg-pink {
  background-color: rgb(226, 98, 188);
}

.bg-lilas {
  background-color:rgb(93, 10, 141);
}

.bg-tiffany {
  background-color:rgb(165, 222, 224);
}

