.header {
  margin-bottom: 20px;
}

.teste {
  background-color:aquamarine;
  border: 1px solid orange;
}






.hero {
  background-color: pink;
  padding: 50px 0;
}

.bg-gray {
  width: 100%;
  background-color: gray;
}

.bg-red {
  width: 100%;
  background-color: rgb(202, 50, 50);
}

.bg-blue {
  width: 100%;
  background-color: rgb(55, 170, 247);
}

.bg-purple {
  width: 100%;
  background-color: rgb(132, 28, 163);
}

.bg-green {
  width: 100%;
  background-color: rgb(20, 173, 89);
}