.header {
  margin-bottom: 20px;
}

.teste {
  background-color:aquamarine;
  border: 1px solid orange;
}


.hero {
  background-color:rgb(240, 180, 217);
  padding: 50px 30px;
  text-align: center;
}

.box {
  margin-bottom: 60px;
}

.bg-gray {
  background-color: rgb(212, 12, 169);
}

.bg-rose {
  background-color: rgb(224, 184, 247);
}

.bg-purple {
  background-color: rgb(167, 109, 185);
}

.bg-pink {
  background-color: rgb(226, 98, 188);
}
